---
import Back from '../../../public/svgs/Back.astro';

interface Props {
  title: string;
	tech1: string;
  tech2: string;
  tech3: string;
  rol: string;
}
const { tech1, tech2, tech3, title, rol } = Astro.props;
---
<div class="flex flex-col gap-7 max-w-[1310px] w-full">
  <a href="javascript:history.back()" class="font-syne font-semibold text-base text-green-lime flex flex-row gap-2 w-max"><Back/> Regresar</a>
  <h4 class="font-semibold text-5xl">{title}</h4>
  <div class="flex flex-row gap-3">
    <div class="font-syne font-semibold px-5 py-1 rounded-full bg-terciary-color w-max">{tech1}</div>
    <div class="font-syne font-semibold px-5 py-1 rounded-full bg-terciary-color w-max">{tech2}</div>
    <div class="font-syne font-semibold px-5 py-1 rounded-full bg-terciary-color w-max">{tech3}</div>
  </div>
<p class="font-syne text-lg font-medium text-color-text2">Mi rol: {rol}</p>
</div>