---
interface Props {
	tech1: string;
  tech2: string;
  tech3: string;
  linkPagina: string
  title: string;
  text: string;
  img1: string;
  img2: string;

}
const { tech1, tech2, tech3, linkPagina, title, text, img1, img2 } = Astro.props;
import IconWeb from '../../public/svgs/IconWeb.astro'
import IconWeb2 from '../../public/svgs/IconWeb2.svg'

---

<section class="h-[720px] rounded-[40px] bg-secondary-color col-span-2 overflow-hidden border border-terciary-color px-12 py-8">
  <div class="flex flex-col gap-4 mb-3">
    <div class="w-full flex flex-row items-center justify-between">
      <div class="flex flex-row gap-3">
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech1}</div>
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech2}</div>
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech3}</div>
      </div>
      <a href={linkPagina} class="font-medium text-lg px-8 py-4 bg-secondary-color border border-green-lime rounded-full hover:bg-terciary-color duration-300">Ver más</a>
    </div>
    <div class="flex flex-col gap-[10px]">
      <h6 class="font-bold text-2xl">{title}</h6>
      <p class="font-medium text-lg">{text}</p>
    </div>
    <img src={IconWeb2.src} alt="svg web" class="w-7 h-7">
    <!-- <IconWeb2> -->
    <!-- <IconWeb/> -->
  </div>
  <div class=" mt-[-10px]">
    <img src={img1} alt="img2" class="w-[410px] h-[270px] rounded-[10px] relative top-4 left-40 opacity-70 hover:scale-105 duration-300">
    <img src={img2} alt="img1" class="w-[410px] h-[270px] rounded-[10px] relative bottom-40 right-5 hover:scale-105 duration-300">
    
  </div>
</section>