---
interface Props {
	tech1: string;
  tech2: string;
  tech3: string;
  linkPagina: string
  title: string;
  text: string;
  img1: string;
  img2: string;

}
const { tech1, tech2, tech3, linkPagina, title, text, img1, img2 } = Astro.props;
import IconWeb from '../../public/svgs/IconWeb.astro'

---

<section class="h-[695px] xsm:h-[640px] sm:h-[720px] rounded-[40px] bg-secondary-color col-span-1 mmd:col-span-2 overflow-hidden border border-terciary-color px-5 py-5 sm:px-12 sm:py-8">
  <div class="flex flex-col gap-5 sm:gap-4 mb-3">
    <div class="w-full flex gap-5 flex-row flex-wrap-reverse items-start sm:items-center sm:justify-between">
      <div class="flex flex-row gap-1 sm:gap-3 flex-wrap">
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech1}</div>
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech2}</div>
        <div class="font-syne h-max font-medium text-base px-4 py-1 border-2 border-terciary-color rounded-full">{tech3}</div>
      </div>
      <a href={linkPagina} class="font-medium text-lg px-8 py-4 bg-secondary-color border border-green-lime rounded-full hover:bg-terciary-color duration-300">Ver más</a>
    </div>
    <div class="flex flex-col gap-[10px]">
      <h6 class="font-bold text-2xl">{title}</h6>
      <p class="font-medium text-lg">{text}</p>
    </div>
    <IconWeb/>
  </div>
  <div class="mt-[-10px] mx-auto">
    <img src={img1} alt="img2" class="w-[280px] h-[190px]  sm:w-[410px] sm:h-[270px] rounded-[10px] relative top-4 left-10 xxsm:left-32 xsm:left-36 sm:left-40 opacity-70 hover:scale-105 duration-300">
    <img src={img2} alt="img1" class="w-[330px] h-[200px]  sm:w-[410px] sm:h-[270px] rounded-[10px] relative bottom-28 sm:bottom-40 right-0 sm:right-5 hover:scale-105 duration-300">
    
  </div>
</section>